*/.idea/*
*.pyc
*.class
*.jar
learn-haskell/out/*
learn-haskell/dist/*
learn-scala/out/*
learn-kotlin/out/*
.DS_Store
*.iml
learn-java/learn-java-core/.idea/*
learn-java/learn-spring/spring-boot-demo/.idea/*
learn-python/.vscode/*
